<div class="col-md-8 col-md-offset-2" ng-show="!user.authenticated">
  <h3>Join</h3>
  
  <form ua-signup>
    <div class="form-group">
      <label for="login">Email</label>
      <input type="email" name="login" ua-is-email class="form-control" placeholder="Email" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class = "form-control" placeholder = "Password" required>
    </div>

    <button type="submit" class="btn btn-primary">Join</button>
  </form>

</div>